# Partie PySpark

A partir du fichier CSV suivant :

https://raw.githubusercontent.com/guru99-edu/R-Programming/master/adult_data.csv

Ecrire un code PySpark permettant à partir du csv de compter le nombre de personnes qui ont
pour leur attribut workclass “Private” et indiquer pour toutes ces personnes leur âge moyen par
attribut “native-country”.

### Import Libraries

In [4]:
#!pip install pyspark
from pyspark import SparkFiles
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, col
from pyspark.sql.types import IntegerType

### Import data

In [5]:
spark = SparkSession.builder.appName("test").getOrCreate()

url = "https://raw.githubusercontent.com/guru99-edu/R-Programming/master/adult_data.csv"
spark.sparkContext.addFile(url)

df = spark.read.option("header", "true").csv("file://" + SparkFiles.get("adult_data.csv"))
df.show(10)

+---+---+----------------+------+------------+---------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|  x|age|       workclass|fnlwgt|   education|educational-num|    marital-status|       occupation| relationship| race|gender|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+---+----------------+------+------------+---------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|  1| 25|         Private|226802|        11th|              7|     Never-married|Machine-op-inspct|    Own-child|Black|  Male|           0|           0|            40| United-States| <=50K|
|  2| 38|         Private| 89814|     HS-grad|              9|Married-civ-spouse|  Farming-fishing|      Husband|White|  Male|           0|           0|            50| United-States| <=50K|
|  3| 28|       Local-gov|336951|  Assoc-acdm|             12|Married-civ-spouse|  Protective-serv|      Husband|White|  Male|           0|           0|            40| United-States|  >50K|
|  4| 44|         Private|160323|Some-college|             10|Married-civ-spouse|Machine-op-inspct|      Husband|Black|  Male|        7688|           0|            40| United-States|  >50K|
|  5| 18|               ?|103497|Some-college|             10|     Never-married|                ?|    Own-child|White|Female|           0|           0|            30| United-States| <=50K|
|  6| 34|         Private|198693|        10th|              6|     Never-married|    Other-service|Not-in-family|White|  Male|           0|           0|            30| United-States| <=50K|
|  7| 29|               ?|227026|     HS-grad|              9|     Never-married|                ?|    Unmarried|Black|  Male|           0|           0|            40| United-States| <=50K|
|  8| 63|Self-emp-not-inc|104626| Prof-school|             15|Married-civ-spouse|   Prof-specialty|      Husband|White|  Male|        3103|           0|            32| United-States|  >50K|
|  9| 24|         Private|369667|Some-college|             10|     Never-married|    Other-service|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 10| 55|         Private|104996|     7th-8th|              4|Married-civ-spouse|     Craft-repair|      Husband|White|  Male|           0|           0|            10| United-States| <=50K|
+---+---+----------------+------+------------+---------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 10 rows

####Le nombre de personnes qui ont pour leur attribut workclass “Private”

In [6]:
df_private = df.filter(df['workclass'] == 'Private')
df_private.count()

33906

####Leur âge moyen par attribut “native-country”

In [7]:
avg_age = df_private.groupBy("native-country")\
                    .agg(avg(col('age'))\
                    .cast(IntegerType())\
                    .alias('age-moyen'))
avg_age.show()

+------------------+---------+
|    native-country|age-moyen|
+------------------+---------+
|       Philippines|       38|
|           Germany|       37|
|          Cambodia|       37|
|            France|       40|
|            Greece|       42|
|            Taiwan|       34|
|           Ecuador|       37|
|         Nicaragua|       35|
|              Hong|       33|
|              Peru|       36|
|             India|       37|
|             China|       40|
|             Italy|       44|
|Holand-Netherlands|       32|
|              Cuba|       46|
|             South|       38|
|              Iran|       38|
|           Ireland|       37|
|          Thailand|       36|
|              Laos|       34|
+------------------+---------+
only showing top 20 rows